body {min-width: 1200px;position: relative;font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 1.5;
    }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td img {
    margin: 0;
    padding: 0;
    border: 0;
}
:link, :visited {
    text-decoration: none;
}
#common_css_ver {height:100px}
#head {height: 940px;}
#top {height: 50px;background: #181818;}
#top .top {width:1200px;margin:0 auto;height: 50px;}
#top .top .logo {float: left;display:block;height:50px;width:106px;}
#top .top .nav {float:left;height:50px;}
#top .top .nav li {float: left;font-size: 18px;margin:11px 0 0 40px;display: inline;}
#top .top .nav li a {color:#fff}
#top .top .nav li a.active {color:#feca2e;}
#top .top .tools {float: right;height: 50px;font-size:14px;line-height: 50px;}
#top .top .tools a {color:#fff;line-height: 50px;}
#top .top .tools ul.choose {float:right;}
#top .top .tools ul.choose li {float: left;margin-right:20px;}
#top .top .tools ul.choose li a {background: url(http://image.kuwo.cn/website/pc/icon.png) no-repeat;}
#top .top .tools ul.choose .show a {background-position:-230px -23px;padding-left:20px;}
#top .top .tools ul.choose .game a {background-position:-169px -23px;padding-left:20px;}
#top .top .tools ul.choose .book a {background-position:-105px -23px;padding-left:20px;}

#top .top .tools ul.choose .earphone a { background:url(http://image.kuwo.cn/website/pc/earphone.png) left center no-repeat;padding-left:20px;}
/*登陆*/
#top .top .tools .userBox {float:right;margin-left:13px;width:67px;height:50px;position:relative;z-index:2;background:url(http://www.kuwo.cn/static/image/web/homePage/loginDown.png) no-repeat right center;}
#top .top .tools .userBox:hover {background:url(http://www.kuwo.cn/static/image/web/homePage/loginUp.png) no-repeat right center;}
#top .top .tools .userBox #userName,#loginBtn {overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;width:56px;/*display: none*/}
.loginMenu {padding:0 19px;background:url(http://image.kuwo.cn/website/pc/moreBg.png);position: absolute;top:50px;left:-3px;display: none;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.loginMenu a {width:120px;height:50px;line-height:50px;display: block;border-bottom:1px solid rgba(255,255,255,0.05);}
#top .top .loginMenu a:hover {color:#f0aa00}
.loginMenu i {float:left;background:url(http://www.kuwo.cn/static/image/web/homePage/loginIcon.png);width:23px;height:23px;margin:15px 5px 0 0;}
.loginMenu .logout i {background-position:-10px -10px}
.loginMenu .logout:hover i {background-position:-10px -53px}
.loginMenu .home i,.loginMenu .anchorRadio i {background-position:-98px -10px}
.loginMenu .home:hover i,.loginMenu .anchorRadio:hover i {background-position:-98px -53px}
.loginMenu .kwLogin i {background-position:-133px -10px}
.loginMenu .kwLogin:hover i {background-position:-133px -53px}
.loginMenu .qqLogin i {background-position:-47px -10px;margin-top:17px;}
.loginMenu .qqLogin:hover i {background-position:-47px -53px}
.loginMenu .wbLogin i {background-position:-189px -10px;margin-top:17px;}
.loginMenu .wbLogin:hover i {background-position:-189px -53px}

/*登陆end*/
#top .top .tools ul.choose .vip a { background:url(http://img4.kwcdn.kuwo.cn/star/upload/8/8/1478593200456_.png) left center no-repeat;padding-left:20px;}
.opacity80 {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
#top .top .tools .more {float: right;position: relative;z-index:2;}
#top .top .tools .more p {cursor: pointer;color:#fff;}
#top .top .tools .more ul {position: absolute;;top:50px;left:-23px;width: 110px;background:url(http://image.kuwo.cn/website/pc/moreBg.png);font-size:12px;padding-top:4px;display: none;}
#top .top .tools .more ul li {height: 30px;line-height: 30px;text-indent:23px;}
#top .top .tools .more ul li a {display:block;color:#D6D6D6;line-height: 30px;}
#top .top .tools .more ul li a:hover {background:url(http://image.kuwo.cn/website/pc/moreBg.png);color:#fff;}
#top .top .tools .search {float:right;width:181px;height: 25px;line-height: 25px;background: url(http://www.kuwo.cn/static/image/searchBoxBg.png);margin:13px 0 0 10px;position:relative;z-index:2;display:inline;}
#top .top .tools .search input {float:left;width: 141px;height:25px;color:#999999;padding-left:10px;font-size:12px;line-height: 25px;background: none}
#top .top .tools .search a.searchBtn {float:right;width:30px;height:25px;display:block;}
.searchInfo {position: absolute;top:37px;left:-9px;width: 200px;height: auto;background:url(http://image.kuwo.cn/website/pc/searchBg.png) repeat;font-size:12px;display: none;}
.searchInfo ul {padding:5px 0;}
#top .top .tools .searchInfo ul li a {color:#fff;display:block;height:30px;line-height: 30px;text-indent: 14px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.searchInfo ul li a:hover {background: url(http://image.kuwo.cn/website/pc/searchBg.png) repeat;}

#loading {display:none;position:absolute;left:453px;top:100px;z-index:999}
#loading img {margin-right:10px;display:inline;}
#loading span {color:#333}
.page {float:left;height:30px; text-align:center;padding:25px 0 60px 0;}
.page a {float:left; font-size:12px; color:#333333; width:30px;height:30px;line-height:30px;display:block; margin-right:5px;background:url(http://image.kuwo.cn/website/pc/page/page.jpg);}
.page .point {float:left;margin:0 19px 0 14px;height:26px;line-height:26px;color:#999999}
.page a img {margin-top:10px;display:inline}
.page .current { background:url(http://image.kuwo.cn/website/pc/page/current.jpg); color:#fff;}

#footer {height:180px;background:#181818;padding-bottom:75px;}
.footer {width: 1200px;margin:0 auto;color:#999999;line-height: 30px;font-size: 14px;text-align: center;padding-top:34px;}
.footer a,.footer p {color:#999999;}
.footer .f_link {color:#333333; }

.listRight .tipsCon {display:none;font-size:12px;padding:6px 14px 0 14px;width:216px;height: 121px;background: url(http://www.kuwo.cn/static/image/web/homePage/tipsBg.png) no-repeat;position: absolute;top:-120px;left:-226px;z-index:1}
.listRight .tipsCon.noBg {background:none}
.listRight .tipsCon a {background:none;color:#f0aa00;}
.listRight .tipsCon .tipsFr {float: right;}
.tipsCon p {float:left;width:100%;line-height: 35px;}
.tipsCon span {float:left}

/*播放器*/
#player {width:100%;height:60px;position: fixed;z-index:99999;bottom:0px !important;}
.playerSplice {width: 100%;height:60px;background:#000;position: absolute;top:0;left:0;}
.opacity95 {
    filter: alpha(opacity=95);
    -moz-opacity: .95;
    -khtml-opacity: .95;
    opacity: .95;
}
#playerBox {width: 100%;position: relative;z-index:111;}
#player .player {width:1200px;height:60px;margin:0 auto;}
.playerLeft {float: left;width:280px;height: 60px;}

/*切换按钮*/
.musicControll {float:left;margin-left:24px;display: inline;}
.musicControll div {float:left;margin:10px 0 0 17px;cursor:pointer;display: inline;}
.musicControll .prev,.musicControll .next,.musicControll .play,.musicControll .zan {width:30px;height:30px;background:url(http://image.kuwo.cn/website/pc/icon.png);}
.musicControll .prev {background-position: -77px -118px;margin-top:15px;}
.musicControll .play {width:40px;height:40px;background-position: -137px -113px}
.musicControll .zan {width:40px;height:40px;background-position: -138px -194px}
.musicControll .next {background-position: -207px -118px;margin-top:15px;}
.musicControll .prev:hover {background-position: -77px -157px;}
.musicControll .play:hover {background-position: -137px -153px;}
.musicControll .zan:hover {background-position: -179px -194px}
.musicControll .next:hover {background-position: -207px -158px;}
/*图标*/
.playerLeft img {float:left;width:40px;height:40px;margin:10px 0 0 50px;display: inline;}

/*音乐上升下降图标*/
.rightContentBox .leftInfo .mTrend .u0 {
    width: 10px;
    height: 11px;
    margin: 14px 4px 0 0;
    background: url(http://image.kuwo.cn/website/pc/bang/icon.png) no-repeat 0 0;
}
.rightContentBox .leftInfo .mTrend .e0 {
    width: 10px;
    height: 2px;
    margin: 19px 4px 0 0;
    background: url(http://image.kuwo.cn/website/pc/bang/icon.png) no-repeat -57px 0;
}
.rightContentBox .leftInfo .mTrend .d0 {
    width: 10px;
    height: 11px;
    margin: 14px 4px 0 0;
    background: url(http://image.kuwo.cn/website/pc/bang/icon.png) no-repeat -42px 0;
}
.rightContentBox .leftInfo .mTrend .n0 {
    width: 22px;
    height: 7px;
    margin: 17px 4px 0 0;
    background: url(http://image.kuwo.cn/website/pc/bang/icon.png) no-repeat -15px 0;
}